body {
    background-image: url('images/instituicao/unisagrado.png');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento body */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa mesmo quando a página é rolada */
}

.barra-certificados {
    position: absolute;
    bottom: 100px;
    left: 200px;
}
